<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.overtime.hebrew">

    <!-- Permissions for database and file operations -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_today"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light"
        android:supportsRtl="true"
        tools:targetApi="31">
        
        <!-- Main Activity - Hebrew/RTL aware -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>